@import 'variables';

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;


  @media (min-width: $bp-tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 800px;
  }

  @media (min-width: $bp-desktop-l) {
    max-width: 1280px;
  }
}

.container-flex-full {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $desktopFooterHeight - $desktopNavHeight);
  flex-wrap: wrap;

  .copy-max-width {
    max-width: 640px;
    padding: 0 20px;
  }
}