@import 'variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-top: $desktopNavHeight;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  position: relative;
}

p {
  margin-bottom: 10px;
}

a {
  color: $btn-bg-color;

  &:hover {
    color: $btn-bg-color-hover;
  }
}


main {
  min-height: calc(100vh - $desktopNavHeight - $desktopFooterHeight);
}

.main-title {
  padding-top: 50px;
}

.main-subtitle {
  margin-bottom: 20px;
}
