ul {
  list-style-type: none;
}

.named-list {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;

  &:last-child {
    border-bottom: none;
  }

  &-wrap {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }

  &-title {
    margin-bottom: 5px;
  }

  ul {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    width: 100%;

    @media (min-width: $bp-tablet) {
      width: 50%;
    }
  }
}