

$bp-mobile: 420px;
$bp-tablet: 720px;
$bp-desktop: 1024px;
$bp-desktop-l: 1440px;

$desktopNavHeight: 60.5px;
$desktopFooterHeight: 40px;

$btn-bg-color: #0070f3;
$btn-bg-color-hover: darken($btn-bg-color, 10);